################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/bin
/Source/obj
/.vs

.gitignore
appsettings.Development.json
/Source/TutorTime.csproj.user
/TutorTime.sln.DotSettings.user
